body {
	font-family:calibri;
}

#change {
	cursor:pointer;
	font-size:30;
	background-color:white;
	position:absolute;
	left:46%;
	top:42%;
	border:1px solid white;
	outline:none;
	border-radius:8px;
}

#strobe {
	cursor:pointer;
	font-size:20;
	width:90px;
	color:white;
	position:relative;
	left:46%;
	top:47%;
	
	outline:none;
	
}