html, body {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

p{
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
       -moz-user-select: none; 
	cursor:default;
}

#text {
	position:relative;
	left:30%;
	top:5%;
	font-size:22;
}

#text_input {	
	position:relative;
	margin-left:3%;
	width:70%;
}

#key {
	position:relative;
	left:80%;
	top:0%;
	font-size:20;
}

#key_input {
	position:relative;
	left:10%;
}

#encrypt {
	position:relative;
	left:43%;
	font-size:18;
}

#decrypt {
	position:relative;
	left:47%;
	font-size:18
}

hr {
	width:85%;
	position:relative;
	top:5%;
}

#output_text {
	position:relative;
	top:10%;
	text-align:center;
	font-size:22;
}

#output {
	word-wrap:break-word;
	overflow-y: auto;
	position:relative;
	top:15%;
	width:90%;
	height:30%;
	left:5%;
	font-size:18;
	border:1px solid black;
}

#test {
	position:relative;
	width:80%;
	background-color:blue;
	color:blue;
}